
{% include 'head.html'%}

{% include 'nav.html'%}
<div class="container"> 
    {% include 'topside.html' %}  

<div class="row my-4">
    <div class="col-md-4">
         <div class="border bg-white p-3">
                    <h4>Ajouter Commande</h4>
                    <hr>
                    <form method ="POST"   action="{% url 'commande' %}">
                        {% csrf_token %}
                        
                      <!--  <div class="form-group ">
                            <label for="inputState">Type commande</label>
                            <select id="inputState" name = "type_commande"  class="form-control">
                                <option selected> Choisir...</option>
                                <option value="1">plat</option>
                                <option value="2">boisson</option>
                                <option value="3">vin</option>
                            </select>
                        </div> -->

                        
                           <!-- <div class="container">
                                <div class="row">
                                   <div class='col-sm-6'>
                                      <div class="form-group">
                                        <label for="datetimepicker2">Date</label> 
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                         </div>
                                      </div>
                                   </div>
                                   
                                </div>
                             </div> -->

                        


                        <div class="form-group ">
                            <label for="inputState">Table</label>
                            <select id="inputState" name="id_table" class="form-control">
                                <option selected >Choisir...</option>
                                {% for table in tables %}
                                <option value = "{{table.id_table}}">{{table.num_table}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group ">
                            <label for="inputState">Service</label>
                            <select id="inputState" name ="id_service" class="form-control">
                                <option selected>Choisir...</option>
                                {% for service in services %}
                                <option value = "{{service.id_service}}">{{service.type_service}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputState">Serveur</label>
                            <select name="id_serveur" id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                {% for serveur in serveurs %}
                                <option value ="{{serveur.id_serveur}}">{{serveur.id_employe}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label for="exampleInputPassword1">Quantite</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div> -->
                       

                        <input class="btn btn-success btn-block" type="submit" value="Ajouter Produit">

                    </form>
                </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date cree</th>
                    <th scope="col">Service</th>
                    <th scope="col">Table</th>
                    <<th scope="col">Serveur</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                <tr>
                    <td>{{commande.id_commande655}}</td>
                    <td>{{commande.id_date_commande }}</td>
                    <td>{{commande.id_service}}</td>
                    <td>{{commande.id_table}}</td>
                    <td>{{commande.id_serveur}}</td> 
                  
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>  

{% include 'foot.html'%}