
{% include 'head.html'%}

{% include 'nav.html'%}
<div class="container"> 
    {% include 'topside.html' %}  

<div class="row my-4">
    <div class="col-md-4">
         <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Category</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>

                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date cree</th>
                    <th scope="col">Service</th>
                    <th scope="col">Table</th>
                    <!--<th scope="col">Serveur</th>-->
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                <tr>
                    <td>{{commande.id_commande}}</td>
                    <td>{{commande.id_date_commande }}</td>
                    <td>{{commande.id_service}}</td>
                    <td>{{commande.id_table}}</td>
                    <td>{{commande.id_serveur}}</td> 
                  
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>  

{% include 'foot.html'%}